<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <!--网页标签的标题-->
    <title>提取文本关键字</title>

    <!--引入UI组件的样式文件-->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!--引入自定义的样式文件-->
    <link rel="stylesheet" href="index.css">
</head>

<body>
<div id="app">
    <el-container>

        <!--页面头部标题-->
        <el-header
                style="background: #3f9eff;text-align: center;line-height: 80px;font-size: 28px;font-weight: bold;color: white"
                height="80px">
            提取文本中的关键字生成印象笔记中的笔记
        </el-header>

        <!--页面主内容-->
        <el-main style="display: flex;width: 100%;justify-content: space-between">

            <!--左半部分输入框-->
            <div class="container">

                <!--输入框，其内容与变量text双向绑定-->
                <el-input v-model="text" type="textarea" :rows="30" placeholder="请输入需要提取关键字的文本" resize="none">
                </el-input>

                <!--提取按钮，点击后会调用keyWordExtraction方法-->
                <el-button style="margin: 20px" type="primary" size="medium" icon="el-icon-search"
                           :loading="textLoading"
                           @click="keyWordExtraction">
                    提取关键字
                </el-button>
            </div>

            <!--右半部分显示提取结果-->
            <div class="container">

                <!--显示结果的文本框，其内容与变量result双向绑定-->
                <el-input v-model="result" type="textarea" :rows="30" resize="none" :readonly="true">
                </el-input>

                <!--保存按钮，点击后会调用saveToYinXiangNote方法-->
                <el-button style="margin: 20px" type="primary" size="medium" icon="el-icon-upload"
                           :loading="resultLoading" :disabled="result===''"
                           @click="saveToYinXiangNote">
                    保存至印象笔记
                </el-button>
            </div>

        </el-main>

    </el-container>
</div>

<!--引入Vue.js-->
<script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.9/vue.common.dev.js"></script>
<!--引入UI组件库的js文件-->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>

<script>

    //生成Vue实例，并挂载到id为app的结点上
    new Vue({
        //挂载的结点元素
        el: "#app",

        //数据变量
        data: {
            text: "",
            result: "",
            textLoading: false,
            resultLoading: false
        },

        //待调用的方法
        methods: {

            //提取文本关键字
            keyWordExtraction() {
                if (this.text !== "") {
                    this.textLoading = true     //按钮启动加载状态
                    setTimeout(() => {      //定时器模拟提取过程所需的时间
                        this.result = this.text
                        this.$message({
                            message: "提取成功！",
                            type: "success",
                            center: true
                        })
                        this.textLoading = false    //提取完成后，按钮关闭加载状态
                    }, 2000)
                } else {
                    this.$message({
                        message: "请输入需要提取关键字的文本",
                        type: "error",
                        center: true
                    })
                }
            },

            //保存至印象笔记
            saveToYinXiangNote() {
                this.resultLoading = true      //按钮启动加载状态
                setTimeout(() => {      //定时器模拟保存过程所需的时间
                    this.$message({
                        message: "保存成功！",
                        type: "success",
                        center: true
                    })
                    this.resultLoading = false      //保存完成后，按钮关闭加载状态
                }, 2000)
            }
        }
    })
</script>
</body>
</html>